node_modules
.pnp
.pnp.js

# testing
coverage

# Next.js
.next/
out/
build

# production
dist

# misc
.DS_Store
*.pem
*.pen
*.log*

# local env files
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
.venv
venv/
.venv/

# python cache
__pycache__/
*.pyc

# 
# IDEs
.vscode/
.idea/

*.pem